.formContainer::after{
    content: url("../../../../public/images/kisspng-salad-salad-fresh-food-healthylife-vegetables-vegetarian-5d42e3a7cb8543\ 1.png");
    position: absolute;
    left: 0;
    bottom: 0;
    background-size: cover;
}
.formContainer::before{
    content: url('../../../../public/images/Photo-plate.png');
    position: absolute;
    right: 0;
    bottom: 0;
}
form::after{
    content: url('../../../../public/images/rucola-png.png');
    position: absolute;
    right: -120px;
}