/* .barChart > svg {
  width: 60% !important;
  height: 100%;
}
.barChart > div {
  width: 10% !important;
} */

@media (max-width: 640px) {
  .barChart {
    width: 300px;
  }
}
@media (min-width: 1024px) {
  .barChart > svg {
    width: 70%;
  }
}
@media (min-width: 1024px) {
  .barChart {
    width: 400px;
  }
}
