.nav__links {
  transition: all 0.2s;
}

.nav__links:hover {
  transform: translateY(-5px) scale(1.05);
  box-shadow: 0px 1px 0px rgb(145, 85, 253);
}

.nav__links:hover span {
  fill: #9155fd;
}
.nav__links:hover p {
  color: #9155fd;
}

.nav__links:active {
  transform: translateY(0) scale(1);
}
.nav__links.active {
  transform: translateY(-5px) scale(1.05);
  box-shadow: 0px 1px 0px rgb(145, 85, 253);
}
.nav__links svg {
  width: 14px;
}

@media screen and (min-width: 640px) {
  .nav__links svg {
    width: 20px;
  }
}
