[type="checkbox"]:checked+label .custom-checkbox > svg{
    width: 20px;
    height: 20px;
}
@media screen and (min-width:768px) {
    [type="checkbox"]:checked+label .custom-checkbox > svg{
        width: 24px;
        height: 24px;
    }
}
.text-checked{
    color: rgba(0, 0, 0, .09)!important;
    transition: all 100ms ease-in;
}
.text-checked::after{
    content: '';
    position: absolute;
    top: 15px;
    left: 0 ;
    width: 100%;
    height: 2px;
    background-color: rgba(0, 0, 0, .09);
}