.slider {
  transition: all 200ms ease-out;
}

.carousel-arrow {
  transform: translateY(-50%);
  background-color: rgba(256, 256, 256, 0.6);
}
.carousel-arrow svg {
  fill: rgba(0, 0, 0, 0.6);
}
.carousel-arrow svg {
  width: 20px;
}
@media screen and (min-width: 768px) {
  .carousel-arrow svg {
    width: 20px;
  }
}
@media screen and (min-width: 1024px) {
  .carousel-arrow svg {
    width: 30px;
  }
}
