.nav__links {
  transition: all 0.2s;
}

.nav__links:hover {
  transform: translateY(-5px) scale(1.05);
  box-shadow: 0px 1px 0px #0ec9f1;
}

.nav__links:hover span {
  fill: #0ec9f1;
}
.nav__links:hover p {
  color: #0ec9f1;
}

.nav__links:active {
  transform: translateY(0) scale(1);
}
