.carousel-item{
    line-height: 1.1    ;
}
.carousel-title{
    word-spacing: -4px;
}
.carousel-icon{
    background-color: rgba(0, 0, 0, 0.05);
}
.carousel-gray-text-color{
    color: rgba(0, 0, 0, 0.6);
}
@media screen and(max-width:640px) {
    
}