.nav__links {
  transition: all 0.2s;
}

.nav__links:hover {
  transform: translateY(-5px) scale(1.05);
  border-bottom: 1px solid #0ec9f1;
}

.nav__links:hover span,
.nav__links.active span {
  fill: #0ec9f1;
}
.nav__links:hover p,
.nav__links.active p {
  color: #0ec9f1;
}

.nav__links:active {
  transform: translateY(0) scale(1);
}
.nav__links.active {
  transform: translateY(-5px) scale(1.05);
  border-bottom: 1px solid #0ec9f1;
}
